@charset 'utf-8';

body {
  background-size: cover;
  background-repeat: no-repeat;
}

.weather {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  height: 5vh;
}

.weather>span {
  margin-right: 10px;
  color: white;
  font-size: 1vw;
}

/* **********header ********/

/* main */

.wrap_todo {
  height: 90vh;
}

.todo {
  width: 60vh;
  height: 25vh;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}

.wrap_inp {
  width: 100%;
}

.inp {
  width: 70%;
  height: 5vw;
  border: 0;
  border-bottom: 3px solid white;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  font-size: 2vw;
  color: white;
}

.inp::placeholder {
  font-size: 2vw;
  color: white;
  text-align: center;
}

.clock {
  height: 30%;
}

.welcome {
  font-size: 3vw;
}

.time {
  font-size: 2vw;
}

/* **************main fin************** */



.bg-location {
  height: 5vh;
  display: flex;
  align-items: center;
}

.bg-location>span {
  margin-left: 10px;
  color: white;
  font-size: 1vw;
}